<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi tempora necessitatibus ab natus fugit perspiciatis alias corporis a molestiae assumenda.
            
        </p>
    </div>
</section>