<div class="jumbotron mt-4">
    <h1 class="display-4"></h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, beatae?</p>
    <a class="btn btn-primary btn-lg" href="http://google.com" role="button"></a>
</div>